@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Nav Bar */

#navbar {
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgb(91, 6, 130);
}

.nav-bar {
    background-color: rgb(91, 6, 130);
    left: 0;
    top: 0;
    padding: 1rem 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-bar .topnav a {
    font-family: 'Flash Back - Demo', sans-serif;
    font-size: 3rem;
    color: white;
                                                
}

.nav-bar .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .nav-list .hamburger {
    height: 70px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    transition: .3s ease transform;
    cursor: pointer;
}

.nav-bar .nav-list .hamburger.active {
    transform: rotate(360deg);
}

.nav-bar .nav-list .hamburger.active .bar::before {
    top: 0;
    transform: rotate(45deg);
}

.nav-bar .nav-list .hamburger.active .bar::after {
    top: 0;
    transform: rotate(-45deg);
}

.nav-bar .nav-list .hamburger.active .bar{
    background-color: transparent;
}

.nav-bar .nav-list .hamburger .bar {
    height: 2px;
    width: 30px;
    background-color: white;
    position: relative;
    display: flex;
}

.nav-bar .nav-list .hamburger .bar::before,
.nav-bar .nav-list .hamburger .bar::after {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    transition: .3s ease all;
}

.nav-bar .nav-list .hamburger .bar::before{
    top: 8px;
}

.nav-bar .nav-list .hamburger .bar::after{
    bottom: 8px;
}

.nav-bar .nav-list ul {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(124, 63, 152);
    padding: 5rem 0;
    transform: translateY(-100%);
    transition: .3s ease transform;
    text-align: center;
    z-index: -1;

}

.nav-bar .nav-list ul li{
    list-style: none;
    display: block;
    
    position: relative;
}
.nav-bar .nav-list ul li:hover::after{
    transform: translateX(-50%) scale(1);

}

.nav-bar .nav-list ul li::after {
    content: '';
    position: absolute;
    width: 5rem;
    height: .2rem;
    background-color: white;
    left: 50%;
    transform: translateX(-50%) scale(0);
    bottom: 0;
    transition: .3s ease transform;
}

.nav-bar .nav-list ul li a {
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    display: block;
    letter-spacing: .15rem;
    padding: 2rem 3rem; 
}

.nav-bar .nav-list.open ul {
    transform: translateY(90px);
    
}
/* End Nav Bar */


/* Cover Section */
.cover {
    min-height: 80vh;
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgb(91, 6, 130)
}

.cover .cover-poster {
    width: 100%;
    text-align: center;
}

.cover .cover-poster .cover-name {
    font-size: 5rem;
    font-weight: 500;
    color: whitesmoke;
}

.cover .cover-poster .cover-title {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: whitesmoke;
}

.cover .cover-poster .cover-button {
    margin-top: 30px;
    padding: 2rem 5rem;
    display: inline-block;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    letter-spacing: .6rem;
    background-color: rgb(77, 77, 77); 
}

.cover .cover-img {
    height: auto;
    width: 50%;
    margin-bottom: 3rem;
}

.cover .cover-img img {
    height: 100%;
    width: 100%;
    filter: brightness(70%);
    border-radius: 100%;
}
    
/* End of Cover Section */

/* About Section */

.about >.container {
    display: flex;
}

.about {
    width: 100%;
    min-height: 50vh;
    padding: 10rem 5rem;
    flex-direction: column;
 
}

.about .about-info {
    text-align: center;
}

.about-info-heading {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: black;
}

.about-info-desc {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 10px;

}

.about-info-button {
    padding: 1.6rem 2.6rem;
    display: inline-block;
    background-color: rgb(211, 116, 15);
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-img .about-img-wrapper {
    margin-top: 50px;
    height: auto;
    max-width: 400px;
    position: relative;
    display: inline-block;
}

.about-img .about-img-wrapper img {
    height: 100%;
    width: 100%;

}

.about-img-wrapper::after {
    position: absolute;
    content: '';
    right: -5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    height: 120%;
    background-color: rgba(35, 35, 35, 0.158);
    z-index: -1;

}
/* End About Section */

/* Project Section */

.project {
    flex-direction: column;
    min-height: 60vh;
    padding: 10rem 5rem;
}

.project .project-header {
    width: 100%;
    text-align: center;
}

.project .project-header .project-header-heading {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;

}

.project .project-header .project-header-desc {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 20px;
}

.project .project-info {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.project .project-info .projects {
    width: 100%;
    min-height: 300px;
    position: relative;
    transition: .3s ease transform;
    margin: 5px;

}

.project .project-info .projects .project-card {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: .3s ease transform;
    display: block;
}

.project .project-info .projects .project-card .project-front {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(69, 234, 246);
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.project .project-info .projects .project-card .project-back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(205, 114, 28, 0.13);
    padding: 10px;

}

.project .project-info .projects .project-card .project-back {
    transform: rotateY(180deg);
}

.project .project-info .projects .project-card .project-front i {
    font-size: 4rem;
    color: black;
    margin-bottom: 10px;
}

.project .project-info .projects .project-card .project-front .project-front-heading,
.project .project-info .projects .project-card .project-front .project-back-heading {
    font-size: 2.5rem;
    text-transform: capitalize;
}

.project .project-info .projects:hover .project-card {
    transform: rotateY(180deg);
} 

.project .project-info .projects .project-card .project-back-desc {
    font-size: 1.6rem;
    margin-top: 10px;
    text-align: center;
}
 

/* Footer */
.footer {
    min-height: 20vh;
    width: 100%;
    background-color: rgb(91, 6, 130);
    color: white;
    flex-direction: column;
    text-align: center;
    padding: 5rem;

}

.footer .footer-contact {
    padding: 20px;
    
}

.footer .footer-contact .footer-contact-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.footer .footer-contact .footer-contact-info a{
    color: white;
}

.footer .footer-contact .footer-social {
    font-size: 1.4rem;
    padding-top: 10px;
    letter-spacing: .3rem;

}

.footer .footer-social .footer-social-icon a {
    color: white;
    font-size: 3rem;
    margin: .4rem;
    display: inline-block;

}
/* End Footer */

/* Responsive Media Query Desktop and Tablet */

@media only screen and (min-width:768px) {

    .nav-bar .nav-list .hamburger{
        display: none;
    }

    .nav-bar{
        width: 80%;
    }

    .nav-bar .nav-list ul{
        transform: translateX(0);
        position: initial;
        padding: 0;
        z-index: 0;
        background-color: transparent;
    } 

    .nav-bar .nav-list ul li {
        display: inline-block;
    }

    .cover {
        height: 100vh;
        flex-direction: row;
        padding-left: 10%;
        justify-content: center;
        align-items: center;
    }

    .cover .cover-poster {
        max-width: 30%;
        text-align: left;
    }

    .cover .cover-poster .cover-title {
        font-size: 1.3rem;
        letter-spacing: .5rem;
    }

    .cover .cover-img {
        min-width: 400px;
        max-width: 1000px;
    }

    .about {
        width: 80%;
        margin: 0 auto;
        flex-direction: row;
    }

    .about .about-info {
        width: 50%;
        text-align: left;
        padding-right: 17rem;
    }

    .project .project-header .project-header-desc{
        padding-top: 20px;
        max-width: 500px;
        margin: 0 auto;
        
    }

    .project .project-info{
        flex-direction: row;
        width: 80%;
    }

    .project .project-info .projects {
        margin: 0;
    }
}
/* Responsive Media Query Desktop and Tablet */

/* Responsive Media Query for Desktop Only */

@media only screen and (min-width:1200px) {
    .cover .cover-poster .cover-name {
        font-size: 6rem;
    }

    .cover .cover-poster .cover-title {
        letter-spacing: .8rem;
    }
}

/* End Responsive Media Query for Desktop Only */
